  <%= form_with model: @item do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= f.label :title , class:"form-label" %>
      <%= f.text_field :title , class:"form-control" %>
    </div>
    <div class="col-md-6">
      <%= f.label :category , class:"form-label" %>
      <%= f.select :category, ['食費', '衣服', '日用品', '美容', '交通', '光熱', '通信', '娯楽', '医療', '他'] %>
    </div>
    <div class="col-md-2">
      <%= f.label :cost , class:"form-label" %>
      <%= f.text_field :cost , class:"form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :spent_date , class:"form-label" %>
      <%= f.date_select :spent_date , class:"form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :wallet_id , class:"form-label" %>
      <%= f.text_field :wallet_id , class:"form-control" %>
    </div>
  </div>
  <%= f.submit class: 'btn btn-primary m-1' %>
<% end %>
