<div class="container">
  <h2>Add New Wallet</h2>
  <h4>Enter your budget (Â¥)</h4>
  <div class="container">
    <%= form_with model: @wallet do |f| %>

      <%= f.label :budget , class:"form-label", style:"font-size:25px" %>
      <%= f.text_field :budget , class:"form-control", style:"width:15%" %>
      <%= f.label :name , class:"form-label", style:"font-size:25px" %>
      <%= f.text_field :name , class:"form-control", style:"width:15%" %>
      <%= f.submit class: 'btn btn-primary mt-3' %>
      <%= link_to "â†©ï¸ Back ðŸ’°", wallets_path, class: 'btn btn-dark btn-sm mt-3 mx-3' %>
    <% end %>
  </div>
</div>
