<div class="container">
  <h1 class='mt-3'>My Budget Planner</h1>
  <div class="row">
    <h3 class="mt-3">You are watching Wallet <%= @wallet.id %></h3>
  </div>
  <div class="row mt-3">
    <div class="col-sm">
      <div class="alert alert-secondary"><span>Budget: ¥ <%= @wallet.budget %></span></div>

    </div>
    <div class="col-sm">
      <div class="alert alert-success"><span>Remaining: ¥ <%= @wallet.budget - @wallet.items.sum(:cost) %></span></div>
    </div>
    <div class="col-sm">
      <div class="alert alert-primary"><span>Spent so far: ¥ <%= @wallet.items.sum(:cost) %> </span></div>
    </div>
  </div>

  <h3 class="mt-3">Expenses</h3>
  <div class="container">
    <%= render "shared/expenses", item: @wallet.items  %>

    <h4 class="mt-3">Add Expense</h4>
    <%= link_to "+ New Item", new_wallet_item_path(@wallet), class: 'btn btn-primary' %>
  </div>

  <%= link_to "🔀 Switch to Other Wallet 💰", wallets_path, class: 'btn btn-warning mt-3' %>
</div>
