<div class="container">
  <h1 class='mt-3'>My Budget Planner</h1>
  <div class="row mt-3">
    <div class="col-sm">
      <div class="alert alert-secondary"><span>Budget: 짜 </span></div>
    </div>
    <div class="col-sm">
      <div class="alert alert-success"><span>Remaining: 짜 </span></div>
    </div>
    <div class="col-sm">
      <div class="alert alert-primary"><span>Spent so far: 짜 <%#= user.spent_total %> </span></div>
    </div>
  </div>

  <h3 class="mt-3">Expenses</h3>
  <div class="container mt-3">
    <div>
      <ul>
        <% @items.each do |item| %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-3">
                <%= item.category %> :
              </div>
              <div class="col-3">
                <%= item.title %>
              </div>
              <div class="col-2">
                짜 <%= item.cost %>
              </div>
              <div class="col-3">
                <%= item.spent_date %>
              </div>
              <div class="col-1">
                <%= link_to item_path(item), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                  <i class="fa-solid fa-trash"></i>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
      <h3 class="mt-3">Add Expense</h3>
      <%= link_to "+ New Item", new_item_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
