<div class="container m-2">
  <h2 class="m-1"><%= @item.title %></h2>
  <h3 class="m-1"><%= @item.category %></h3>
  <h3 class="m-1"><%= @item.cost %></h3>
  <p>
    <%= link_to "Edit Item", edit_item_path, class: 'btn btn-primary' %>
  </p>
  <h5> <%= link_to "back to list", items_path %> </h5>
</div>
